<div class="row">
    <div class="progress">
        <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            [attr.aria-valuenow]="currentTime"
            aria-valuemin="0"
            [attr.aria-valuemax]="startingTime"
            style="width: {{currentTime / startingTime*100}}%"
            [class.active]="isRunning"
        >
            <span class="sr-only">{{currentTime / startingTime*100}}% Complete</span>
        </div>
    </div>
</div>
<div class="row">
    <button
        *ngIf="!isRunning"
        class="btn btn-lg btn-success"
        (click)="toggleTimer()"
    >
        Start Timer
    </button>
    <button
        *ngIf="isRunning"
        class="btn btn-lg btn-danger"
        (click)="resetTimer()"
    >
        Reset Timer
    </button>
    <i *ngIf="currentTime < 1" class="fa fa-4x fa-bell center timer-bell" aria-hidden="true"></i>
</div>               
